@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;


.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.dashboard .card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard .card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dashboard .card p {
  font-size: 1.25rem;
  color: #666;
}
